@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar for dark theme */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
  background-color: #7c3aed; /* Tailwind purple-600 */
  border-radius: 4px;
  border: 2px solid #1a1a1a;
}

/* custom scrollbars */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #7c3aed #1f1f1f; /* thumb / track */
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #1f1f1f;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 10px;
  border: 2px solid #1f1f1f;
}

